@import '../../../utils/variables';

.saved-book {
  cursor: pointer;
  border-radius: $border-radius;
  background-color: $secondary-color;
  width: 250px;
  position: relative;
  display: flex;
  color: white;
  padding: 5px 10px;
  box-sizing: border-box;
  transition: background-color 0.5s ease;
  align-items: center;
  gap: 15px;

  @media (hover: hover) {
    &:hover {
      background-color: #8e2525;
    }
  }
}

.close-button {
  color: red;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 10px;
}
