@import '../../../utils/variables';

.add-book-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.add-book-row {
  display: flex;
  justify-content: space-between;

  @media (max-width: $breakpoint-mobile) {
    width: 310px;
    margin: auto;
  }
}

.add-book-row-label {
  margin: auto 0;
}

.big-margin {
  margin-bottom: 30px;

  @media (max-width: $breakpoint-mobile) {
    margin-bottom: 5px;
  }
}
